@font-face {
  font-family: Motiva-Sans-Bold;
  src: url(/fonts/Motiva-Sans-Bold.ttf);
}
.schedule {
  .container {
    max-width: 90vw;
  }

  .bg {
    position: absolute;
    top:0;
    left:0;
    min-width: 100vw;
    min-height: 100vh;
  }

  .header {
    font-family: Motiva-Sans-Bold, sans-serif;
    font-size: 8vh;
    max-width: 90vw;

    .title {
      display: inline-block;
      color: white;
    }

    .broadcaster-logo {
      height: 8vh;
      display: inline-block;
    }
    .event-logo {
      position: absolule;
      height: 12vh;
    }
  }

  .box {
    background-color: rgba(255,255,255,0.7);
    color: rgb(36, 36, 36);
    border-radius: 8px;
    margin-top: 4vh;
    padding: 3em 0 0 3em;
    box-sizing: border-box;
    height: 70vh;
    overflow: hidden;


    .day {
      background-color: rgba(255, 12, 66, 0.2);
      display: inline-block;
      font-weight: bolder;
      font-family: Motiva-Sans-Bold, sans-serif;
      font-size: 70px;
      line-height: 0.3em;
      border-bottom: 0.3em solid transparent;
      border-right: 0.6em solid transparent;
      border-left: 0.2em solid transparent;
    }
    .events {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 100px;

      .event {
        margin: 40px 80px 0 0.2em;
      }
    }
    #events-scroll {
      overflow-y: scroll;
    }
    #events-scroll::-webkit-scrollbar { width: 0 !important }
    .coverage {
      .event {
        margin: 40px 100px 40px 0.2em;
      }
    }
    .event {
      flex-shrink: 0;

      .time {
        font-size: 35px;
      }
      .name {
        font-size: 40px;
        font-weight: bold;
      }
    }
  }

  .footer {
    margin: 4vh 0;
    opacity: 0.9;

    .supporter {
      font-size: 60px;
      color: white;

      img {
        max-height: 1em;
      }
    }
  }
}
